---
import DefaultHead from '@astrojs/starlight/components/Head.astro';
import PostHog from '../components/posthog.astro';
---
<html>
  <head>
    <DefaultHead />
    <PostHog />
  </head>
  <body>
    <slot />
  </body>
</html>